<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="logo" src="/assets/images/pdis-logo-final-clear.png" alt="">
            </div>
            <div class="col-md-4">
                <p>
                    The website is built by PDIS <br>
                    We incubate and facilitate public digital innovation and service.<br>
                    <br>
                    本站原始碼：<a href="https://github.com/PDIS/">Github Repo.</a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <p>
                        sdjflksdjflksfj
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>