<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <img class="logo" src="/assets/images/LOGO.svg" alt="">
            </div>
            <div class="col-lg-4 col-md-8">
                <p style="margin-bottom: 60px;">
                    The website is built by PDIS <br>
                    We incubate and facilitate public digital innovation and service.<br>
                    <br>
                    本站原始碼：<a href="https://github.com/PDIS/">Github Repo.</a>
                </p>
            </div>
            <div class="col-lg-6 col-md-8 offset-md-4 offset-lg-0">
                <div class="text-lg-right text-md-left">
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>
</div>